<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    
   
    <title>weather app</title>

</head>
<body>
     <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <form>
        <input placeholder="place">
        <button>Search</button>

        </form>
        
        <p id='messege_one'></p>
        <p id='messege_two'></p>
        
        {{>footer}}
        <script src="js/app.js"></script>  
     </div>
    
    

</body>
</html>

